[Desktop Entry]
Name=XDemineur
Comment=Minesweeper game
Comment[de]=Minesweeper-Game
Comment[es]=Juego Minesweeper
Comment[fr]=Jeu de démineur
Comment[pl]=Gra "Saper" dla X Window System
Comment[pt]=Jogo Minesweeper
Comment[tr]=Mayın tarlası oyunu
Icon=xdemineur
Exec=xdemineur
Type=Application
Terminal=false
Categories=Game;BoardGame;
# vi: encoding=utf-8
