[Desktop Entry]
Encoding=UTF-8
Name=XDemineur
Comment[de]=Minesweeper-Game
Comment[es]=Juego Minesweeper
Comment[fr]=Jeu de démineur
Comment[pl]=Gra "Saper" dla X Window System
Comment[pt]=Jogo Minesweeper
Comment[tr]=Mayın tarlası oyunu
Icon=xdemineur.png
Exec=xdemineur
Type=Application
Terminal=false
Categories=Game;BoardGame;
# vi: encoding=utf-8
